h1 {
    text-align: center;
}

h2 {
    border-bottom: 2px solid darkgrey;
    padding: 20px;
}
body {
    background-color: lightgray;
    font-family: 'Teko', sans-serif;
}

main {
    background-color: lightgoldenrodyellow;
    padding-bottom: 20px;
}
.passwordDisplay {
    padding:20px 10px 100px 10px;
    margin: 20px 0px;
    border: 2px dotted darkgray;
    color: darkgray;
    text-align: center;
   
}

.buttonArea {
    padding-top: 20px;
    border-top: 2px solid darkgrey;
}