.center {
    text-align: center;
}

.border-padding {
    border-bottom: 2px solid darkgrey;
    padding: 20px;
}
body {
    background-color: lightgray;
    font-family: 'Teko', sans-serif;
}

.background {
    background-color: lightgoldenrodyellow;
    padding-bottom: 20px;
}

.new-password {
    padding: 30px 10px;
    font-size: 20px;
}
.passwordDisplay {
    padding:20px 10px;
    margin: 20px 0px;
    border: 2px dotted darkgray;
    color: darkgray;
    text-align: center;
   
}

.buttonArea {
    padding-top: 20px;
    border-top: 2px solid darkgrey;
}

.checkbox {
    height: 30px;
}

.check-label {
    padding-left: 20px;
}

